#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

NCPU = $(shell grep -c processor /proc/cpuinfo)

%:
	dh $@ 

override_dh_build:
	$(MAKE) -j$(NCPU) static_lib

override_dh_auto_install:
	$(MAKE) INSTALL_PATH=$$(pwd)/debian/librocksdb-dev/usr install-static

override_dh_auto_clean:
	$(MAKE) -j1 clean

override_dh_auto_test:
